<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="bird.css">
</head>

<body>
    <div id="world"></div>
    <div id="instructions">^<br />Gerakin kepala burungnya<br /><span class="lightInstructions">Geser Mouse Scroll atau Swipe</span></div>

    <script src="1.js"></script>
    <script src="2.js"></script>
    <script src="3.js"></script>
    <script src="bird.js"></script>
</body>

</html>