<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/stylesheets/bird.css">
</head>

<body>
    <div id="world"></div>
    <div id="instructions">^<br />Gerakin kepala burungnya<br /><span class="lightInstructions">Geser Mouse Scroll atau Swipe</span></div>

    <script src="/javascripts/1.js"></script>
    <script src="/javascripts/2.js"></script>
    <script src="/javascripts/3.js"></script>
    <script src="/javascriptsbird.js"></script>
</body>

</html>